body{
  /* background-color: #f0f0f0 !important; */
}
.tp-caption{
  color: #fff !important;
}
.sub_txt{
  color: #fff !important;
}
.desc-slide{
  color: #fff !important;
}
.card1{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 40px;
  cursor: pointer;
}
.box-content{
  padding: 15px !important;
}
.box-image{
  padding: 10px;
}
.flat-row.menu-1{
  padding-bottom: 15px !important;
}
.ms-3{
  margin-left: 10px;
  cursor: pointer;
  font-size: 15px !important; 
}
.ms-3:hover{
  color: #fc3232;
  transition: 0.6s;
}
.me-3{
  margin-right: 20px !important;
  color: #a1a1a1;
  cursor: pointer;
}
.me-3:hover{
  color: #e44c2a;;
}
.content-tab{
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 750px;
  padding: 20px !important;
}